<%- include("partials/header.ejs") %>
	<div class="container">
		<h1>Medapp Expense Management</h1>
		<p><a class="btn btn-primary m-2" href="/employee/login">Employee</a><a class="btn btn-primary m-2" href="/medapp-expense-admin/login">Admin</a></p>
	</div>
<%- include("partials/footer.ejs") %>